<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>17console</display-name>
  	<servlet>
	    <servlet-name>realtimeservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.RealtimeServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>realtimeservlet</servlet-name>
	    <url-pattern>/rt/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
	    <servlet-name>scanpositionservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.ScanPositionServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>scanpositionservlet</servlet-name>
	    <url-pattern>/sp/*</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <servlet-name>repositoryservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.RepositoryServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>repositoryservlet</servlet-name>
	    <url-pattern>/rp/*</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <servlet-name>todeliverservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.TodeliverServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>todeliverservlet</servlet-name>
	    <url-pattern>/td/*</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <servlet-name>todeliverupdateservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.TodeliverUpdateServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>todeliverupdateservlet</servlet-name>
	    <url-pattern>/tdu/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
	    <servlet-name>recordservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.RecordServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>recordservlet</servlet-name>
	    <url-pattern>/rd/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
	    <servlet-name>chinaservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.ChinaServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>chinaservlet</servlet-name>
	    <url-pattern>/c/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
	    <servlet-name>trendservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.TrendServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>trendservlet</servlet-name>
	    <url-pattern>/tr/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
	    <servlet-name>timesservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.TimesServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>timesservlet</servlet-name>
	    <url-pattern>/ts/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
	    <servlet-name>scanservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.ScanServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>scanservlet</servlet-name>
	    <url-pattern>/sc/*</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <servlet-name>searchservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.SearchServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>searchservlet</servlet-name>
	    <url-pattern>/s/*</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	    <servlet-name>changepasswordservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.ChangePasswordServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>changepasswordservlet</servlet-name>
	    <url-pattern>/cp/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
	    <servlet-name>changeselfservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.ChangeSelfServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>changeselfservlet</servlet-name>
	    <url-pattern>/cs/*</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	    <servlet-name>sysusercreateservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.SysuserCreateServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>sysusercreateservlet</servlet-name>
	    <url-pattern>/suc/*</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <servlet-name>sysuserlistservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.SysuserListServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>sysuserlistservlet</servlet-name>
	    <url-pattern>/sul/*</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <servlet-name>sysuserupdateservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.SysuserUpdateServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>sysuserupdateservlet</servlet-name>
	    <url-pattern>/suu/*</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
	    <servlet-name>toactiveservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.ToactiveServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>toactiveservlet</servlet-name>
	    <url-pattern>/ta/*</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <servlet-name>limitservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.LimitServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>limitservlet</servlet-name>
	    <url-pattern>/limit/*</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <servlet-name>poolservlet</servlet-name>
	    <servlet-class>com.lsid.console.servlet.PoolServlet</servlet-class>
  	</servlet>
  	
    <servlet-mapping>
	    <servlet-name>poolservlet</servlet-name>
	    <url-pattern>/pool/*</url-pattern>
  	</servlet-mapping>

  <filter>
    <filter-name>autoconfigfilter</filter-name>
    <filter-class>
	 	com.lsid.autoconfig.client.AutoConfig
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>autoconfigfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  	
  	<filter>
		<filter-name>securefilter</filter-name>
		<filter-class>
			com.lsid.console.filter.SecureFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>securefilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>